<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{UIkit/css/uikit.css}" rel="stylesheet"/>
    <title>index</title>
</head>
<body>
<div class="uk-background-fixed uk-background-center-center uk-height-medium" style="background-image: url(/imgs/bj.jpg);">

</div>
<script th:src="@{jquery-3.3.1.js}" type="text/javascript"></script>
<script th:src="@{UIkit/js/uikit.js}"></script>
<script th:src="@{UIkit/js/uikit-icons.js}"></script>
<script th:inline="javascript">
</script>
</body>
</html>